{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="untree_co-hero overlay" style="background-image: url('{% static 'images/img-school-35-min.jpg' %}');">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-12">
        <div class="row justify-content-center ">
          <div class="col-lg-6 text-center ">
            <div class="mb-5 text-white desc mx-auto" data-aos="fade-up" data-aos-delay="200">
              <!-- Content goes here -->
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div>

<div class="untree_co-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
        <h2 class="line-bottom text-center mb-4" style="color: #db67e2;">Our History</h2>

      </div>
    </div>
    <div class="row">
      <div class="col-12 " data-aos="fade-up" data-aos-delay="100">
        <p>As everything great has a beginning, a visionary educator and a great pioneer of education our Founding
          Father Fr.schenidon shared his dream to create a sanctuary of learning,a place where young minds could soar to
          new heights and shape a brighter future.</p></br>
        <p>Thus the story of Sts.Peter and paul Nursery school began in 1978 and officially opened on Monday 22nd May
          the same year.First school management entailed of Sr.Joanna whiteMore as the headteacher and Mrs.Mbugua
          as.teaching staff.
          The school began with five pupils;Kelvin Njonge,Njambi,Ann Wanjiru,Wairimu and Wakenyi children to the late
          philip kamau chairman to building committee of the school.</p></br>
        <p>First recorded class had 9 pupils and later recorded an increase to 44 pupils the same year.The non teaching
          staff then haf only one cook,Mary.</p></br>
        <p>In 20th june 1978 the first open day was held and parents expressed gratitude and appreciation for what the
          school fraternity had achieved.In 1979 the school began a full attendance program and in May the same year the
          late Sr.Angelina Khayeka a Loreto Sister joined the school.In 1979 almost all the pupils haf been accepted
          into Primary school.</p> </br>
        <p>In january 1980 Mrs. Teresia Kamau joined the staff and on 3rd December the same year first committee meeting
          was held and Sr.Angelina Khayeka appointed as the Headteacher after Sr.joanna whiteMore was transferred to
          Loreto Msongari.</p> </br>
        <p>In 1986 Sr. Angelina.wemt abroad for futher studies and Sr.Justina Nthambi from Loreto sisters appointed the
          Headteacher.
          On 19th march 1986 the first mass was celebrated by Fr.Michael Mungai.
          In 1990 Fidelis Nyakio was appointed headteacher in place of Sr
          Justina.</p></br>
        <p>In 1999 Tr Teresia Kamau was appointed headteacher and Tr.Fidelis left the school.
          In 2000 Fr.Simon kamomoe and Tr.Teresia founded Sts. Peter and Paul primary school which began with fifteen
          children in Nursery and later progressed to Primary school(Kangoya) in 2002.</p></br>
        <p>Through God and a supportive management system we have recorded a series of improvement in academic
          performance with over one thousand students and counting who beleive in Sts Peter and Paul as the best
          provider of quality education.Modern facilities are among our top priorities to spearhead our vision.</p></br>
        <p>The continuation of high motivation,hardwork and discipline aspire us to grow to even greater heights and to
          be the best high quality education providers which will be evident in the increasing number of learners to i
          still them with longlife knowledge as God intends.</p></br>

          <!-- <div class="video-container" data-aos="fade-up" data-aos-delay="150">
            <video width="100%" height="auto" controls>
                <source src="{% static 'videos/about_video.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div> -->

      </div>
    </div>

    <div class="services-section">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-4 mb-5 mb-lg-0">

            <div class="section-title mb-3" data-aos="fade-up" data-aos-delay="0">
              <h2 class="line-bottom mb-4">Become our Student</h2>
            </div>

            <p data-aos="fade-up" data-aos-delay="100">We welcome you to join our school providing an inclusive
              enviroment to help you thrive academically and personally.</p>

            <ul class="ul-check list-unstyled mb-5 primary" data-aos="fade-up" data-aos-delay="200">
              <li>Supportive learning enviroment.</li>
              <li>Dedicated teachers and staff.</li>
              <li>Diverse range of academic programs.</li>
            </ul>

            <p data-aos="fade-up" data-aos-delay="300"><a href="{% url 'web:enroll' %}" class="btn btn-primary">Get Started</a></p>

          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="0">
            <figure class="img-wrap-2">
              <img src="{%static 'images/teacher-min.jpg' %}" alt="Image" class="img-fluid">
              <div class="dotted"></div>
            </figure>

          </div>
        </div>
      </div>
    </div>
    <div class="untree_co-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
            <h2 class="line-bottom text-center mb-4">We Have Best Education</h2>
            <p>An effective education system to instill critical thinking skills,creativity and adaptility for success
              in an ever changing world</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="feature">
              <span style="color: #db67e2;" class="uil uil-music"></span>
              <h3 style="color:#db67e2; ">Pre-school:</h3>
              <p>It consists of three levels: Playgroup, Pre-Primary 1, and Pre-Primary 2.</p>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="feature">
              <span style="color: #db67e2;" class="uil uil-calculator-alt"></span>
              <h3 style="color:#db67e2; ">Lower School:</h3>
              <p> It consists of three levels: Grade 1, Grade 2, and Grade 3.</p>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="feature">
              <span style="color: #db67e2;" class="uil uil-book-open"></span>
              <h3 style="color:#db67e2; ">Middle School: </h3>
              <p>It consists of three levels: Grade 4, Grade 5, and Grade 6.</p>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="feature">
              <span style="color: #db67e2;" class="uil uil-history"></span>
              <h3 style="color: #db67e2;">Junior Secondary School: </h3>
              <p>
                It consists of three levels: Grade 7, Grade 8, and Grade 9.
              </p>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="feature">
              <span style="color: #db67e2;" class="uil uil-headphones"></span>
              <h3 style="color: #db67e2;">Co-curricular Activities: </h3>
              <p>
                This includes Music, Drama, Dance, Sports, Chess, Ballet, Taekwondo, Skating, Karate, Outdoor education
                and educational visits.
              </p>
            </div>
          </div>



          <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay=100">
            <div class="feature">
              <span style="color: #db67e2;" class="uil uil-book-alt"></span>
              <h3 style="color: #db67e2;">Reading for Kids</h3>
              <p>Phonics and comprehension.</p>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="feature">
              <span style="color: #db67e2;" class="uil uil-history"></span>
              <h3 style="color: #db67e2;">History Class</h3>
              <p>Early christianity and history of science.</p>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="feature">
              <span style="color: #db67e2;" class="uil uil-headphones"></span>
              <h3 style="color: #db67e2;">Music</h3>
              <p>All elements of music:sound and structure.</p>
            </div>
          </div>
        </div>
      </div> <!-- /.container -->
    </div> <!-- /.untree_co-section -->
    <div class="row">

      <div class="untree_co-section">


        <div class="container">
          <div class="row">
            <div class="col-lg-5 mr-auto mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="0">
              <img src="{%static 'images/img-school-5-min.jpg' %}" alt="image" class="img-fluid">
            </div>
            <div class="col-lg-7 ml-auto" data-aos="fade-up" data-aos-delay="100">
              <h3 class="line-bottom mb-4">Why Choose Us</h3>
              <p>We strive to empower your child to become confident,compassionate and successful individuals through
                provision of well rounded education.</p>

              <div class="custom-accordion" id="accordion_1">
                <div class="accordion-item">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">Good Teachers and Staffs</button>
                  </h2>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion_1">
                    <div class="accordion-body">
                      <div class="d-flex">
                        <div class="accordion-img mr-4">
                          <img src="{%static 'images/img-school-1-min.jpg' %}" alt="Image" class="img-fluid">
                        </div>
                        <div>
                          <p>Our school takes pride in our team of highly educated and qualified educators. </p>
                          <p>Our teachers undergo professional continuous proffessional development and training to
                            ensure they are up_to_date with the latest educational practices and methodologies.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!-- .accordion-item -->

                <div class="accordion-item">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">We Value Good
                      Characters</button>
                  </h2>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion_1">
                    <div class="accordion-body">
                      <div class="d-flex">
                        <div class="accordion-img mr-4">
                          <img src="{%static 'images/img-school-2-min.jpg' %}" alt="Image" class="img-fluid">
                        </div>
                        <div>
                          <p>We are dedicated to cultivating strong character traits:Honesty,integrity and respect. </p>
                          <p>Our aim is not only academic excellence but also demonstrate moral integrity of our
                            students in their interactions with others.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!-- .accordion-item -->
                <div class="accordion-item">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Your Children are
                      Safe</button>
                  </h2>

                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion_1">
                    <div class="accordion-body">
                      <div class="d-flex">
                        <div class="accordion-img mr-4">
                          <img src="{%static 'images/img-school-3-min.jpg' %}" alt="Image" class="img-fluid">
                        </div>
                        <div>
                          <p>We have implemented stringent safety prototcols,including regular drills and training for
                            emergencies and secure entry systems.</p>
                          <p>Vigilant staff members who priotize the well-being of each child.</p>
                        </div>
                      </div>

                    </div>
                  </div>

                </div> <!-- .accordion-item -->

              </div>

            </div>
          </div>
        </div>
      </div> <!-- /.untree_co-section -->
      {% endblock %}