{% load static   %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="ST. Peters& Paul" />
    <link rel="shortcut icon" href="{%static 'favicon.png' %}" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <link
      href="https://fonts.googleapis.com/css2?family=Display+Playfair:wght@400;700&family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{%static 'css/animate.min.css' %}" />
    <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{%static 'css/owl.theme.default.min.css' %}" />
    <link rel="stylesheet" href="{%static 'css/jquery.fancybox.min.css' %}" />
    <link rel="stylesheet" href="{%static 'fonts/icomoon/style.css' %}" />
    <link rel="stylesheet" href="{%static 'fonts/flaticon/font/flaticon.css' %}" />
    <link rel="stylesheet" href="{%static 'css/aos.css' %}" />
    <link rel="stylesheet" href="{%static 'css/style.css' %}" />

    <title>ST. Peters And Paul Primary School</title>
  </head>

  <body>
    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <nav style="z-index: 100" class="site-nav mb-5">
      <div class="pb-2 top-bar mb-3">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-6 col-lg-9">
              <a href="#" class="small mr-3"
                ><span class="icon-question-circle-o mr-2"></span>
                <span class="d-none d-lg-inline-block"
                  >Have a questions?</span
                ></a
              >
              <a href="#" class="small mr-3"
                ><span class="icon-phone mr-2"></span>
                <span class="d-none d-lg-inline-block">0724599500</span></a
              >
              <a href="#" class="small mr-3"
                ><span class="icon-envelope mr-2"></span>
                <span class="d-none d-lg-inline-block"
                  >info@stpeterandpaulprimary.co.ke,sts.peter.paul.catholic.school@gmail.com</span
                ></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="logo">
        <a href="{% url 'web:index' %}"><img src="{%static 'images/logo.png' %}" alt="logo" /></a>
      </div>
      <div class="sticky-nav js-sticky-header">
        <div class="container position-relative">
          <div class="site-navigation text-center">
            <ul class="js-clone-nav d-none d-lg-inline-block site-menu">
              <li class="nav-item"> <a class="nav-link" href="{% url 'web:index' %}">Home</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'web:about' %}">About</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'web:staff' %}">Our Staff</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'web:contact' %}">Contacts</a></li>
              <a href="{% url 'web:enroll' %}" class="btn-book btn btn-secondary btn-sm menu-absolute"
              >Enroll Now</a>
               <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
              <span></span>
              </a>
              {% if user.is_authenticated %}
              <li class="has-children">
                <a href="#">Academics</a>
                <ul class="dropdown">
                  <li><a href="{% url 'web:elements' %}">Our Philosophy</a></li>
                  <li class="has-children">
                    <a href="{% url 'web:nursery' %}">Nursery</a>
                    <ul class="dropdown">
                      <li><a href="{% url 'web:daycare' %}">Day Care</a></li>
                      <li><a href="{% url 'web:pp1' %}">PP1 </a></li>
                      <li><a href="{% url 'web:pp2' %}">PP2</a></li>
                    </ul>
                  </li>
                  <li><a href="{% url 'web:cbc' %}">CBC Curriculum</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'web:news' %}">News</a>
                {% if user.is_superuser %}
                <ul class="dropdown">
                  <li><a class="nav-link" href="{% url 'web:add_news' %}">Add News</a></li>
                </ul>
                {% endif %}
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'web:gallery' %}">Gallery</a>
                {% if user.is_superuser %}
                <ul class="dropdown">
                  <li><a class="nav-link" href="{% url 'web:add_gallery' %}">Add Gallery Item</a></li>
                </ul>
                {% endif %}
              </li>

              <li><a href="{% url 'web:contact' %}">Contact</a></li>
              <li class="nav-item {% if nav == 'contact' %} active {% endif %}"><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li>
            </ul>
            {% else %}
            <li class="nav-item active"><a class="nav-link" href="{% url 'accounts:register' %}">LOGIN/REGISTER</a></li>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    
    {% block content %}

    {% endblock %}

    <div class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 mr-auto">
            <div class="widget">
              <h3>About Us<span class="text-primary">.</span></h3>
              <p>
                Welcome to St. Peter and Paul School where learning thrives in a
                nurturing environment. With modern facilities and dynamic
                teaching, every student experiences hands-on learning and
                personalized growth. Join us for an enriching educational
                journey.
              </p>
            </div>
            <!-- /.widget -->
            <div class="widget">
              <h3>Connect</h3>
              <ul class="list-unstyled social">
                <li>
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-linkedin"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-pinterest"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-dribbble"></span></a>
                </li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /.col-lg-3 -->
          <!-- <div class="col-lg-2 ml-auto">
                 <div class="widget">
                    <h3>Projects</h3>
                    <ul class="list-unstyled float-left links">
                       <li><a href="#">Web Design</a></li>
                       <li><a href="#">HTML5</a></li>
                       <li><a href="#">CSS3</a></li>
                       <li><a href="#">jQuery</a></li>
                       <li><a href="#">Bootstrap</a></li>
                    </ul>
                 </div>
               
              </div> -->
          <!-- /.col-lg-3 -->
          <div class="col-lg-3">
            <div class="widget">
              <h3>Gallery</h3>
              <ul class="instafeed instagram-gallery list-unstyled">
                <li>
                  <a
                    class="instagram-item"
                    href="{%static 'images//gallery/1.jpg' %}"
                    data-fancybox="gal"
                    ><img
                      src="{%static 'images//gallery/1.jpg' %}"
                      alt=""
                      width="72"
                      height="72"
                  /></a>
                </li>
                <li>
                  <a
                    class="instagram-item"
                    href="{%static 'images//gallery/2.jpg' %}"
                    data-fancybox="gal"
                    ><img
                      src="{%static 'images//gallery/2.jpg' %}"
                      alt=""
                      width="72"
                      height="72"
                  /></a>
                </li>
                <li>
                  <a
                    class="instagram-item"
                    href="{%static 'images//gallery/3.jpg' %}"
                    data-fancybox="gal"
                    ><img
                      src="{%static 'images//gallery/3.jpg' %}"
                      alt=""
                      width="72"
                      height="72"
                  /></a>
                </li>
                <li>
                  <a
                    class="instagram-item"
                    href="{%static 'images//gallery/4.jpg' %}"
                    data-fancybox="gal"
                    ><img
                      src="{%static 'images//gallery/4.jpg' %}"
                      alt=""
                      width="72"
                      height="72"
                  /></a>
                </li>
                <li>
                  <a
                    class="instagram-item"
                    href="{%static 'images//gallery/5.jpg' %}"
                    data-fancybox="gal"
                    ><img
                      src="{%static 'images//gallery/5.jpg' %}"
                      alt=""
                      width="72"
                      height="72"
                  /></a>
                </li>
                <li>
                  <a
                    class="instagram-item"
                    href="{%static 'images//gallery/6.jpg' %}"
                    data-fancybox="gal"
                    ><img
                      src="{%static 'images//gallery/6.jpg' %}"
                      alt=""
                      width="72"
                      height="72"
                  /></a>
                </li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /.col-lg-3 -->
          <div class="col-lg-3">
            <div class="widget">
              <h3>Contact</h3>
              <address>8, Kiambu, Kenya</address>
              <ul class="list-unstyled links mb-4">
                <li><a href="tel://11234567890">0724599500</a></li>
                <li><a href="tel://11234567890">0724599500</a></li>
                <li>
                  <a
                    href="mailto:info@stpeterandpaulprimary.co.ke,sts.peter.paul.catholic.school@gmail.com"
                    >info@stpeterandpaulprimary.co.ke,sts.peter.paul.catholic.school@gmail.com</a
                  >
                </li>
                <!-- opening hours -->
                <li>
                  The school office is open:
                  <strong>Monday - Friday:</strong> 8:00AM - 5:00PM
                </li>
                <!-- weekends -->
                <li><strong>Saturday:</strong> 8:00AM - 12:00PM</li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /.col-lg-3 -->
        </div>
        <!-- /.row -->
        <div class="row mt-5">
          <div class="col-12 text-center">
            <p>
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              . All Rights Reserved. &mdash; Designed with love by
              <a href="#">ST. Peters& Paul</a> Distributed By
              <a href="#">ST. Peters& Paul</a>
              <!-- License information: #/license/ -->
            </p>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.site-footer -->

    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <script src="{%static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{%static 'js/popper.min.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
    <script src="{%static 'js/owl.carousel.min.js' %}"></script>
    <script src="{%static 'js/jquery.animateNumber.min.js' %}"></script>
    <script src="{%static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{%static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{%static 'js/jquery.sticky.js' %}"></script>
    <script src="{%static 'js/aos.js' %}"></script>
    <script src="{%static 'js/custom.js' %}"></script>
  </body>
</html>
