{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- <div
      class="untree_co-hero overlay"
      style="background-image: url('images/gallery/36.jpeg')"
    > -->
    <div
class="untree_co-hero overlay"
style="background-image: url('{% static 'images/gallery/36.jpeg' %}');"
>
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12">
          <div class="row justify-content-center ">
            <div class="col-lg-6 text-center ">
              <div class="mb-5 text-white desc mx-auto" data-aos="fade-up" data-aos-delay="200">
              </div>
            </div>
          </div>
        </div>
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div> 
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-12">
            <div class="row justify-content-center">
              <div class="col-lg-6 text-center">
                <h1
                  class="mb-4 heading text-white"
                  data-aos="fade-up"
                  data-aos-delay="100"
                >
                    Competency-Based Curriculum (CBC)
                </h1>
                <div class="cbc-paragraph">
                  <p>The new CBC curriculum implemented in our school has been a game changer for our students.<br>
                      The Curriculum's emphasis on inquiry-based learning has helped to foster a more collaboraive and creative learning enviroment,
                      where students are encouraged to take risks and explore their passion.
                  </p>
                </div>
                <div
                  class="mb-5 text-white desc mx-auto"
                  data-aos="fade-up"
                  data-aos-delay="200"
                >
                
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.untree_co-hero -->
      <div class="untree_co-section">
         <div class="container">
            <div class="row justify-content-center mb-5">
               <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
                  <h2 class="line-bottom text-center mb-4" style="color: #db67e2;">We Have Best Education System</h2>
                  <p>Our Curriculum: With the Competency-Based Curriculum (CBC), a student's academic progress is
evaluated longitudinally, reflecting their ongoing learning journey.
There are two types of assessments:</p>
               </div>
            </div>
            <div class="row">
                <div class="col-12 " data-aos="fade-up" data-aos-delay="100">
                   <p>1. Kenya Primary School Education Assessment (KPSEA) done in Grade 6 counts for 40% of the
total grade</p>
                   <p>2.  School-Based Assessment which takes up 60% of the total grade Assessments are quantified
by Expectation Level, under 4 levels:</p>
<p>Exceeding Expectations (EE) where the learner correctly performs or completes all activities as
expected in each learning area. <br/>
Meeting Expectations (ME) where the learner correctly follows instructions; they properly perform
tasks and complete most activities in each learning area. <br/>
Approaching Expectations (AE) where the learner attempts to follow instructions but is inconsistent
with completing tasks or activities in the different learning areas. <br/>
Below Expectation (BE) where a learner is observed to have major inaccuracies or inability to
complete tasks as instructed by the teacher</p>
                </div>
            </div>
           
            <div class="row">
            
               <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                  <div class="feature">
                     <span style="color: #db67e2;" class="uil uil-calculator-alt"></span>
                     <h3 style="color: #db67e2;">Pre-school</h3>
                     <p>
                        It consists of three levels: Playgroup, Pre-Primary 1, and Pre-Primary 2. 
                     </p>
                  </div>
               </div>
               <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                  <div class="feature">
                     <span  style="color: #db67e2;"class="uil uil-book-open"></span>
                     <h3 style="color: #db67e2;">Lower School: </h3>
                     <p>
                        It consists of three levels: Grade 1, Grade 2, and Grade 3.
                     </p>
                  </div>
               </div>
               <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay=100">
                  <div class="feature">
                     <span  style="color: #db67e2;"class="uil uil-book-alt"></span>
                     <h3 style="color: #db67e2;">Middle School: </h3>
                     <p >
                        It consists of three levels: Grade 4, Grade 5, and Grade 6.
                     </p>
                  </div>
               </div>
               <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                  <div class="feature">
                     <span  style="color: #db67e2;"class="uil uil-history"></span>
                     <h3 style="color: #db67e2;">Junior Secondary School: </h3>
                     <p>
                        It consists of three levels: Grade 7, Grade 8, and Grade 9.
                     </p>
                  </div>
               </div>
               <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                  <div class="feature">
                     <span style="color: #db67e2;" class="uil uil-headphones"></span>
                     <h3 style="color: #db67e2;">Co-curricular Activities: </h3>
                     <p>
                        This includes Music, Drama, Dance, Sports, Chess, Ballet, Taekwondo, Skating, Karate, Outdoor education and educational visits.
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <!-- /.container -->
      </div>
      {% endblock %}